.sunglasses{
    margin-bottom: 96px;
    @include pad{
        margin-bottom: 56px;
    }
    li{
        width: 31.53%;
        @include pad{
            width: 47.8%;
        }
        @include mobile{
            width: 100%;
        }
    }  
}

.sunglasses-pagi{
    @include mobile{
        display: flex;
    }
}